{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block body_block %}


{% include 'base/nav.html' %}

<div class="font-[Montserrat] pt-[17vh]">

    <div class="pl-[10vw] mb-10">
        <button class="rounded-2xl py-1 px-5 bg-green-500" id="newBlog">
            New Blog
        </button>
    </div>

    <div class="flex flex-col items-center">
        <ul class="w-[80vw] space-y-3">
            {% for blog in blogs %}
            <li class="flex flex-row border-b pb-3 last:border-b-0">
                <div class="basis-[30%]">
                    {% if blog.detail_img %}
                    <img class="w-full h-[10vh] object-cover" src="{{blog.detail_img.url}}" alt="">
                    {% else %}
                    <img class="w-full h-[10vh] object-cover" src="{% static 'imgs/placeholder.jpg' %}" alt="">
                    {% endif %}
                </div>
                <div class="basis-[50%] flex my-auto font-bold capitalize justify-center text-lg">
                    {{blog.title}}
                </div>
                <div class="basis-[10%] flex my-auto">
                    {{blog.date}}
                </div>
                <div class="basis-[10%] flex my-auto">
                    <a class="rounded-2xl py-1 px-5 bg-green-500" href="{% url 'manage_blog' pk=blog.id %}">Edit</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="absolute z-50 inset-0 bg-gray-600 bg-opacity-50 h-full w-full font-[Montserrat] hidden" id="my-modal">
    <div
        class="relative lg:top-72 top-10 mx-auto p-5 lg:w-3/12 w-10/12 lg:h-[28%] h-[90%] shadow-lg rounded-md bg-[#091830]">
        <form action="" class="h-full flex flex-col items-center justify-center">
            {% csrf_token %}

            <div class="lg:basis-1/2 flex flex-col mt-8 lg:mt-0 w-full">
                <label for="title" class="text-center text-lg mb-2 font-bold uppercase">Title</label>
                <input required type="text" name="title" id="title" class="rounded-lg h-9 text-[#091830] w-full">
            </div>

            <div class="h-[10%] w-full">
                <div class="flex justify-around items-center h-full">
                    <button type="button" id="cancelModal" class="rounded-2xl bg-red-600 px-5 py-1">Cancel</button>
                    <button type="button" id="saveModal" class="rounded-2xl bg-green-500 px-5 py-1">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    function openModal(data = false) {
        $("#my-modal").show()
    }

    function closeModal(data = false) {
        $("#my-modal").hide()
        $('form')[0].reset()
    }

    $("#newBlog").click(function () {
        openModal()
    })

    $("#saveModal").click(function () {
        if ($("#title").val() != "") {
            const data = {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                title: $("#title").val()
            }

            $.ajax({
                type: "POST",
                url: "{% url 'new_blog' %}",
                data: data,
                success: function (response) {
                    window.location.href = "{% url 'manage_blog' pk=0 %}".replace(0, response.id);
                }
            })
        } else {
            alert("Title cant be empty!")
            closeModal()
        }
    })

    $("#cancelModal").click(function () {
        closeModal()
    })
</script>


{% endblock %}