{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block body_block %}

{% include 'base/nav.html' %}

<div class="mt-[17vh] px-[10vw] font-[Montserrat]" id="info" data-id="{{blog.id}}">
    <div class="space-y-10">
        <div class="flex flex-col mt-8 lg:mt-0">
            <label for="title" class="text-lg mb-2 font-bold uppercase">Title</label>
            <input required type="text" name="title" id="title" class="rounded-lg h-9 text-[#091830] w-full" value="{{blog.title}}">
        </div>

        <div class="flex flex-col mt-8 lg:mt-0">
            <label for="description" class="text-lg mb-2 font-bold uppercase">Description</label>
            <textarea name="" id="description" rows="4" class="rounded-lg text-[#091830] w-full">{{blog.description}}</textarea>
        </div>

        <div class="flex flex-row">
            <div class="basis-1/2 flex flex-col mt-8 lg:mt-0">
                <label for="hide" class="text-lg mb-2 font-bold uppercase">Show Blog</label>
                <label class="relative inline-flex items-center cursor-pointer mt-2">
                    <input type="checkbox" value="" class="sr-only peer goal-active"  id="hide"
                    {% if not blog.hide %} checked {% endif %}>
                    <div
                        class="w-11 h-6 bg-gray-200  rounded-full peer dark:bg-red-500 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
                    </div>
                </label>
            </div>

            <div class="basis-1/2 flex flex-col mt-8 lg:mt-0">
                <label for="date" class="text-lg mb-2 font-bold uppercase">Date</label>
                <input required type="date" name="date" id="date" class="rounded-lg h-9 text-[#091830] w-full" value="{{blog.date|date:'Y-m-d'}}">
            </div>
        </div>


        <div class="flex flex-col mt-8 lg:mt-0">
            <p class="text-lg mb-2 font-bold uppercase">Preview Image</p>
            <div class="flex" id="previewImageTag">
                <div class="my-auto mr-10">
                    <input type="file" id="previewImage" hidden accept="image/*" />
                    <label id="changePreviewImage" for="previewImage" class="py-1 px-6 rounded-2xl bg-green-500">Change Image</label>
                </div>

                {% if blog.main_img %}
                <img id="previewPreview" class="h-[50vh] object-cover max-w-[30vw]" src="{{blog.main_img.url}}" alt="">
                {% else %}
                <img id="previewPreview" class="h-[50vh] object-cover max-w-[30vw]" src="{% static  'imgs/placeholder.jpg' %}" alt="">
                {% endif %}
            </div>
        </div>

        <div class="flex flex-col mt-8 lg:mt-0">
            <p class="text-lg mb-2 font-bold uppercase">Detail Image</p>
            <div class="flex flex-col" id="detailImageTag">
                {% if blog.main_img %}
                <img id="detailPreview" class="h-[40vh] object-cover mb-5" src="{{blog.detail_img.url}}" alt="">
                {% else %}
                <img id="detailPreview" class="h-[40vh] object-cover mb-5" src="{% static  'imgs/placeholder.jpg' %}" alt="">
                {% endif %}
                <div class="my-auto mr-10">
                    <input type="file" id="detailImage" hidden accept="image/*" />
                    <label id="changeDetailImage" for="detailImage" class="py-1 px-6 rounded-2xl bg-green-500">Change Image</label>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="px-[10vw] font-[Montserrat] mt-[15vh]">

    <h2 class="text-[3rem] font-bold mb-3">Article Contents</h2>

    <div id="containerParagraphs" class="space-y-10">

        {% for paragraph in blog.paragraph_set.all %}
            {% if paragraph.is_img %}

            <div class="paragraph" data-count="0"  data-order={{forloop.counter}} data-type="image">
                <div class="flex justify-around border rounded-xl h-[35vh] items-center image-paragraph">

                    {% for img in paragraph.paragraphimage_set.all %}
                    <figure class="h-[80%] flex relative figure-image" data>
                        <img class="h-full object-cover my-auto max-w-[30vw] paragraphs-image" src="{{img.img.url}}" alt="">
                        <button class="absolute top-3 right-3 delete-image">
                            <i class="fa-solid fa-trash text-red-500"></i>
                        </button>
                    </figure>
                    {% endfor %}

                </div>
    
                <div class="flex space-x-5 control-panel">
                    <button class="rounded-2xl py-1 px-7 bg-red-500 mt-2 delete-paragraph">Delete</button>
                    <input class="add-image" type="file" id="upload{{forloop.counter}}" hidden accept="image/*" />
                    {% if paragraph.paragraphimage_set.all|length < 3%}
                    <label for="upload{{forloop.counter}}" class="rounded-2xl py-1 px-7 bg-green-500 mt-2 add-image">Add Image</label>
                    {% endif %}
                </div>
            </div>

            {% else %}

            <div class="paragraph" data-order={{forloop.counter}} data-type="text">
                <textarea class="text w-full rounded-lg text-[#091830]" rows="10">{{paragraph.text}}</textarea>
                <button class="rounded-2xl py-1 px-7 bg-red-500 delete-paragraph">Delete</button>
            </div>

            {% endif %}
            {% endfor %}

    </div>

    <div class="flex justify-center mt-3" id="addParagraph">
        <button id="addText"
            class="py-1 px-5 rounded border text-center w-[8rem] mr-5 transition-all hover:bg-[#fefaf4] hover:text-[#091830] hover:border-[#091830]">+
            text</button>
        <button id="addImages"
            class="py-1 px-5 rounded border text-center w-[8rem] transition-all hover:bg-[#fefaf4] hover:text-[#091830] hover:border-[#091830] leading-none">+
            images</button>
    </div>
</div>

<div class="h-[30vh]"></div>

<div class="pb-[10vh]">
    <div class="flex justify-around px-[15vw]">
        <button id="deleteBlog" class="py-2 px-10 text-3xl font-bold bg-red-500 rounded-2xl">Delete Blog</button>
        <button id="saveChanges" class="py-2 px-10 text-3xl font-bold bg-green-500 rounded-2xl">Save Changes</button>
    </div>
</div>

<canvas id="image-canvas" style="display: none;"></canvas>

<script>
    let order = 0

    function createTextContainer(order, data = false) {
        return `
        <div class="paragraph" data-order=${order} data-type="text">
            <textarea class="text w-full rounded-lg text-[#091830]" rows="10"></textarea>
            <button class="rounded-2xl py-1 px-7 bg-red-500 delete-paragraph">Delete</button>
        </div>
        `
    }

    function createImageContainer(order, data = false) {
        return `
        <div class="paragraph" data-count="0"  data-order=${order} data-type="image">
            <div class="flex justify-around border rounded-xl h-[35vh] items-center image-paragraph">
            </div>

            <div class="flex space-x-5 control-panel">
                <button class="rounded-2xl py-1 px-7 bg-red-500 mt-2 delete-paragraph">Delete</button>
                <input class="add-image" type="file" id="upload${order}" hidden accept="image/*" />
                <label for="upload${order}" class="rounded-2xl py-1 px-7 bg-green-500 mt-2 add-image">Add Image</label>
            </div>
        </div>
        `
    }

    function createImage(img = false) {
        let imgUrl = img ? img : "{% static  'imgs/placeholder.jpg' %}"
        return `
        <figure class="h-[80%] flex relative figure-image" data>
            <img class="h-full object-cover my-auto max-w-[30vw] paragraphs-image" src="${imgUrl}" alt="">
            <button class="absolute top-3 right-3 delete-image">
                <i class="fa-solid fa-trash text-red-500"></i>
            </button>
        </figure>
        `
    }

    function processImage(image) {
        image = $(image).find("img")[0]
        const canvas = document.getElementById('image-canvas')
        const ctx = canvas.getContext('2d')

        canvas.width = image.naturalWidth;
        canvas.height = image.naturalHeight;
        ctx.drawImage(image, 0, 0);

        const imageData = canvas.toDataURL();
        return JSON.stringify(imageData)
    }

    $("#addText").click(function () {
        $("#containerParagraphs").append(createTextContainer(order))
        order++
    })

    $("#addImages").click(function () {
        $("#containerParagraphs").append(createImageContainer(order))
        order++
    })

    $("body").on("click", ".delete-paragraph", function () {
        $(this).parents(".paragraph").remove()
    })

    $("body").on("change", ".add-image", function (e) {
        const parentContainer = $(this).parents(".paragraph").children(".image-paragraph")
        const img = e.target.files[0]
        if (img) {
            parentContainer.append(createImage(URL.createObjectURL(img)))
        }

        if (parentContainer.children().length >= 3) {
            $($(this).siblings("label")).hide()
        }
    })

    $("body").on("click", ".delete-image", function () {
        const imgContainer = $(this).parents(".paragraph").children(".image-paragraph")
        if (imgContainer.children().length == 3) {
            $(this).parents(".paragraph").children(".control-panel").children("label").show()
        }

        $(this).parent("figure").remove()
    })

    $("#saveChanges").click(function () {
        const canvas = document.getElementById('image-canvas')
        const ctx = canvas.getContext('2d')
        console.log($("#previewImageTag"))

        const data = {
            id: $("#info").data("id"),
            title: $("#title").val(),
            description: $("#description").val(),
            date: $("#date").val(),
            hide: !$("#hide").is(":checked"),
            main_img: processImage($("#previewImageTag")),
            detail_img: processImage($("#detailImageTag")),
            paragraphs: []
        }

        $(".paragraph").each(function (index, paragraph) {
            const type = $(paragraph).data("type")
            const paragraphData = {
                type: type,
                order : index
            }

            if (type == "text") {
                paragraphData.text = $(paragraph).children(".text").val()
            } else {
                const imageArray = []

                $(paragraph).children(".image-paragraph").children("figure").each(function (index, img) {
                    const imageItem = $(this);
                    const image = imageItem.find('img')[0];

                    canvas.width = image.naturalWidth;
                    canvas.height = image.naturalHeight;
                    ctx.drawImage(image, 0, 0);
                    const imageData = canvas.toDataURL();

                    const imageObject = {
                        image_data: imageData,
                        image_order: index
                    };

                    imageArray.push(imageObject);
                })
                paragraphData.images = imageArray
            }
            data.paragraphs.push(paragraphData)
        })

        console.log(data)

        $.ajax({
            type: 'POST',
            url: '{% url "save_blog" %}',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            data: JSON.stringify(data),
            success: function (response) {
                window.location.href = "{% url 'blog' pk=0 %}".replace(0, response.id)
            },
            error: function (error) {
                console.log(error)
            }
        });
    })

    $("#deleteBlog").click(function () { 
        if (confirm("Are you sure you want to delete this blog? You can also hide the blog instead")) {
            const data = {
                id: $("#info").data("id")
            }

            $.ajax({
                type: "POST",
                url: "{% url 'delete_blog' %}",
                data: data,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    window.location.href = "{% url 'manage_blogs_list' %}"
                }
            })
        }
    })

    $("#previewImage").change(function(e) {
        console.log("test")
        const img = e.target.files[0]
        if (img) {
            $("#previewPreview").attr("src", URL.createObjectURL(img))
        }
    })

    $("#detailImage").change(function(e) {
        const img = e.target.files[0]
        if (img) {
            $("#detailPreview").attr("src", URL.createObjectURL(img))
        }
    })
</script>

{% endblock %}