<!DOCTYPE html>
{% load static %}
{% load tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.webp' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    {% tailwind_css %}
    <title>{{ title }}</title>
</head>

<body class="relative bg-[#091830]">

    <div class="scale-[2.9] hidden h-12 w-12 opacity-100 opacity-0 translate-y-[-100%] -translate-y-full -translate-x-full -translate-y-[100vh] -rotate-45 rotate-45"></div>

    <div class="text-[#fefaf4]">
        {% block body_block %}
        {% endblock %}
    </div>

    {% include 'base/footer.html' %}

    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>