<div class="fixed bottom-9 right-5" id="mainFooter" >
    <div class="flex flex-row items-end" >

        <div id="secondaryFooter" class="mr-3 translate-x-[4rem] opacity-0 transition-all duration-500" style="display: none;">
            <ul class="text-white space-y-3">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/michellenaerts/" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Michlen" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/michlen/" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/Michlen" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="border-2 border-[#fefaf4] text-[#fefaf4] flex font-[Montserrat] text-[0.7rem] leading-none tracking-tighter font-bold cursor-default"
            style="writing-mode: vertical-rl;text-orientation: upright;">
            <h4 class="bg-[#091830] uppercase py-2 px-1">tourcontrol</h4>
            <h4 class="bg-[#fefaf4] text-[#091830] py-2 px-1">©{{year}}</h4>
        </div>
    </div>
</div>

<!-- red background and border -->
<!-- <div class="border-2 border-[#ff5d5d] fixed bottom-9 right-5 text-white flex font-[Montserrat] text-[0.7rem] leading-none tracking-tighter font-bold" 
    style="writing-mode: vertical-rl;text-orientation: upright;">
    <h4 class="bg-[#091830] uppercase py-2 px-1">tourcontrol</h4>
    <h4 class="bg-[#ff5d5d] text-[#091830] py-2 px-1">©{{year}}</h4>
</div> -->