<div class="fixed lg:bottom-9 lg:right-5 bottom-3 right-3" id="mainFooter" >
    <div class="flex flex-row items-end" >

        <div id="secondaryFooter" class="mr-3 translate-x-[4rem] opacity-0 transition-all duration-500" style="display: none;">
            <ul class="text-white space-y-3">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/michellenaerts/" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Michlen" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/michlen/" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/Michlen" class="border-2 border-[#fefaf4] w-8 h-8 flex justify-center items-center">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="border-2 border-[#fefaf4] text-[#fefaf4] flex font-[Montserrat] lg:text-[0.7rem] text-[0.4rem] leading-none tracking-tighter font-bold cursor-default"
            style="writing-mode: vertical-rl;text-orientation: upright;">
            <h4 class="bg-[#091830] uppercase lg:py-2 lg:px-1 py-1 px-0.5">tourcontrol</h4>
            <h4 class="bg-[#fefaf4] text-[#091830] lg:py-2 lg:px-1 py-1 px-0.5">©{{year}}</h4>
        </div>
    </div>
</div>