{% load static %}
{% load i18n %}
<div class="fixed lg:top-12 top-3 w-full font-[Montserrat]">

    <div class="flex flex-row justify-between items-center px-[3vw]">
        <a href="{% url 'home' %}">
            <img class="w-auto h-[4rem] hidden lg:block" src="{% static 'imgs/logo.png' %}" alt="">
        </a>

        <div id="navA" class="opacity-100 transition-all ease-in-out duration-700">
            <ul class="flex space-x-16 font-bold lg:text-xl tracking-wide">
                <li class="my-auto">
                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                <li class="my-auto">
                    <a href="{% url 'home' %}#howwedoit">{% trans "What We Do" %}</a>
                </li>
                <li class="my-auto">
                    <a href="{% url 'home' %}#ourstory">{% trans "Our Story" %}</a>
                </li>
                <li class="my-auto">
                    <a href="{% url 'blog' %}">{% trans "Blog" %}</a>
                </li>
                <li class="my-auto">
                    <a href="{% url 'contact' %}">{% trans "Contact Us" %}</a>
                </li>
                <li class="my-auto relative" id="languageSelect">
                    <button class="flex border rounded-3xl px-2 py-1 text-base space-x-1">
                        <i class="fa-solid fa-earth-americas my-auto leading-none"></i>
                        <p class="my-auto leading-none text-[1.02rem] uppercase">
                            {% get_current_language as LANGUAGE_CODE %}
                            {{ LANGUAGE_CODE }}
                        </p>
                    </button>
                    <div class="border absolute top-7 w-full rounded-2xl bg-[#fefaf4] text-[#091830] opacity-0 transition-opacity duration-700" 
                    style="display: none;" id="languageSelection">
                        <ul class="text-center">
                            <li>
                                <a href="{% url 'switch_language' 'en' %}">EN</a>
                            </li>
                            <li>
                                <a href="{% url 'switch_language' 'nl' %}">NL</a>
                            </li>
                            <li>
                                <a href="{% url 'switch_language' 'fr' %}">FR</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <script>
                    let mouseOnSelect = false

                    $("#languageSelect").mouseenter(function() {
                        mouseOnSelect = true
                        $("#languageSelection").show().removeClass("opacity-0")
                    })

                    $("#languageSelect").mouseleave(function() {
                        mouseOnSelect = false
                        $("#languageSelection").addClass("opacity-0")
                        setTimeout(function() {
                            if (!mouseOnSelect) {
                                $("#languageSelection").hide()
                            }
                        }, 700)
                    })

                    

                </script>
                <!-- <li class="my-auto">
                    <ul class="flex justify-between space-x-2 text-base font-normal">
                        <li>
                            <a href="{% url 'switch_language' 'en' %}">EN</a>
                        </li>
                        <li>
                            <a href="{% url 'switch_language' 'nl' %}">NL</a>
                        </li>
                        <li>
                            <a href="{% url 'switch_language' 'fr' %}">FR</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>

        <div id="navB" class="opacity-0 transition-all ease-in-out duration-700 z-[10000]" style="display: none;"
            data-status="open">
            <button class="h-16 w-16 rounded-full bg-[#fefaf4] flex flex-col justify-center items-center relative">
                <span id="line1"
                    class="border-t-[2px] border-black w-[40%] btn-open transition-transform duration-500 absolute top-1/2 -translate-y-[0.3rem]"></span>
                <span id="line2"
                    class="border-t-[2px] border-black w-[40%] btn-open transition-transform duration-500 absolute top-1/2 translate-y-[0.3rem]"></span>
                <i class="fa-solid fa-xmark text-black text-2xl btn-close hidden"></i>
            </button>
        </div>
    </div>
</div>

<div class="h-screen fixed top-0 lg:translate-x-[-40vw] translate-x-[-60vw] lg:w-[40vw] w-[60vw] transition-all duration-500 ease-in-out bg-[#050c18] rounded-r z-50 font-[Montserrat]"
    id="navModal">

    <div class="w-full h-full flex justify-center items-center">
        <ul class="lg:space-y-1 space-y-3 lg:text-[5rem] text-3xl font-bold uppercase tracking-tighter leading-none"
            id="navModalContent">
            <li class="my-auto">
                <a href="{% url 'home' %}">{% trans "Home" %}</a>
            </li>
            <li class="my-auto">
                <a href="{% url 'home' %}#howwedoit">{% trans "What We Do" %}</a>
            </li>
            <li class="my-auto">
                <a href="{% url 'home' %}#ourstory">{% trans "Our Story" %}</a>
            </li>
            <li class="my-auto">
                <a href="{% url 'blog' %}">{% trans "Blog" %}</a>
            </li>
            <li class="my-auto">
                <a href="{% url 'contact' %}">{% trans "Contact Us" %}</a>
            </li>
            <li>
                <a href="{% url 'switch_language' 'en' %}">EN</a>
            </li>
            <li>
                <a href="{% url 'switch_language' 'nl' %}">NL</a>
            </li>
            <li>
                <a href="{% url 'switch_language' 'fr' %}">FR</a>
            </li>
        </ul>
    </div>

</div>