{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block body_block %}

{% include 'base/nav.html' %}

<div class="px-[3vw]">

    <header class="h-screen pt-[15vh] ">
        <img class="w-full h-[70%] object-cover rounded-3xl" src="{{blog.main_img.url}}"" alt="">

        <div class=" h-[30%] flex flex-col px-[3vw] pt-10">
        <p class="font-bold uppercase font-[Montserrat] mb-3">{{blog.date}}</p>
        <h1 class=" leading-none capitalize text-[4rem] font-bold font-[Montserrat]">{{blog.title}}</h1>
</div>
</header>

<div class="px-[10vw] pb-[20vh] flex flex-row">

    <div class="basis-[5%]"></div>
    <div class="basis-[70%] text-xl space-y-10" style="font-family: 'Work Sans';">

        <!-- <div class="flex justify-around">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime consectetur error ex at tenetur id voluptate
            temporibus pariatur dicta ipsam, voluptas blanditiis in repellat quasi iure ad, inventore accusantium assumenda
            corporis expedita? Veritatis, et voluptatibus? Cupiditate recusandae laudantium harum, voluptatum dolorum rem
            eius quam temporibus dolores officia, magnam saepe est.
        </div>

        <div class="flex justify-around">
            <img class="h-[35vh] object-cover" src="{% static 'imgs/placeholder.jpg' %}" alt="">
        </div> -->

        {% for paragraph in blog.paragraph_set.all %}
        {% if paragraph.is_img %}

        <div class="flex justify-around">
            
            {% for img in paragraph.paragraphimage_set.all  %}
            <img class="h-[35vh] object-cover" src="{{img.img.url}}" alt="">
            {% endfor %}

        </div>

        {% else %}

        <div class="flex justify-around">
            {{paragraph.text}}
        </div>

        {% endif %}
        {% endfor %}



    </div>
    <div class="basis-[25%]"></div>

</div>
</div>

{% endblock %}