{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block body_block %}
<div id="loading" class="bg-[#091830] h-screen w-screen fixed top-0 z-[100] transition-all duration-700"></div>

<div id="content" class="transition-all ease-in-out duration-[1500ms]">

    <header class="h-screen font-[Montserrat]">

        {% include 'base/nav.html' %}

        <div class="absolute top-3 h-16 my-auto flex lg:hidden">
            <h1 class="px-[3vw] font-bold uppercase text-5xl my-auto">{% trans "Contact" %}</h1>
        </div>

        <div class="lg:flex lg:flex-row h-full px-[3vw] lg:pt-[11rem] pt-[15vh] pb-[7rem]">

            <div class="lg:basis-1/2 h-full hidden lg:block">
                <div class="h-full flex flex-col justify-between">
                    <h1 class="uppercase lg:text-[5rem] font-[500] leading-none">{% trans "contact" %}</h1>

                    <p class="w-1/2 text-xl">
                        {% trans "EMPOWERING DIGITAL VISIONS, EMBRACING COLLABORATION. LET'S IGNITE YOUR ONLINE JOURNEY. REACH OUT TODAY!" %}
                    </p>
                </div>
            </div>

            <div class="lg:basis-1/2 h-full flex flex-col justify-between">
                <form action="">
                    <div class="lg:flex lg:flex-row">
                        <div class="lg:basis-1/2 flex flex-col lg:mr-5 mt-8 lg:mt-0">
                            <label for="" class="uppercase font-[300] lg:text-lg text-[#fefaf4]">{% trans "Name" %}*</label>
                            <input type="text" name="name" id="name" required
                                class="bg-[#091830] border-b-2 border-x-0 border-t-0 outline-none border-[#BE3455] px-0 focus:ring-0 focus:border-[#BE3455] text-[#fefaf4]">
                        </div>

                        <div class="lg:basis-1/2 flex flex-col mt-8 lg:mt-0">
                            <label for="email" class="uppercase font-[300] lg:text-lg text-[#fefaf4]">{% trans "E-mail" %}*</label>
                            <input type="email" name="email" id="email" required
                                class="bg-[#091830] border-b-2 border-x-0 border-t-0 outline-none border-[#BE3455] px-0 focus:ring-0 focus:border-[#BE3455] text-[#fefaf4]">
                        </div>
                    </div>

                    <div class="lg:flex lg:flex-row lg:mt-[8vh]">
                        <div class="lg:basis-1/2 flex flex-col lg:mr-5 mt-8 lg:mt-0">
                            <label for="topic" class="uppercase font-[300] lg:text-lg text-[#fefaf4]">{% trans "Topic" %}*</label>
                            <input type="text" name="topic" id="topic" required
                                class="bg-[#091830] border-b-2 border-x-0 border-t-0 outline-none border-[#BE3455] px-0 focus:ring-0 focus:border-[#BE3455] text-[#fefaf4]">
                        </div>

                        <div class="lg:basis-1/2 flex flex-col mt-8 lg:mt-0">
                            <label for="tel" class="uppercase font-[300] lg:text-lg text-[#fefaf4]">{% trans "Phone Number" %}</label>
                            <input type="tel" name="tel" id="tel"
                                class="bg-[#091830] border-b-2 border-x-0 border-t-0 outline-none border-[#BE3455] px-0 focus:ring-0 focus:border-[#BE3455] text-[#fefaf4]">
                        </div>
                    </div>

                    <div class="flex lg:mt-[8vh] mt-8">
                        <div class="flex flex-col w-full">
                            <label for="message" class="uppercase font-[300] lg:text-lg text-[#fefaf4]">{% trans "Message" %}*</label>
                            <textarea type="text" name="message" id="message" rows="" required
                                class="bg-[#091830] border-b-2 border-x-0 border-t-0 text-[#fefaf4] outline-none border-[#BE3455] px-0 focus:ring-0 focus:border-[#BE3455] w-full"></textarea>
                        </div>
                    </div>

                    <div class="flex mt-10">
                        <button id="contactUs"
                            class="uppercase px-5 py-2 text-lg flex justify-between rounded-[3rem] lg:w-[10vw]">
                            <p class="tracking-wider my-auto">{% trans "submit" %}</p>
                            <div class="flex my-auto hidden lg:block">
                                <span
                                    class="h-3 w-3 rounded-full bg-[#091830] my-auto flex justify-center items-center transition-all duration-300">
                                    <i
                                        class="fa-solid fa-arrow-up rotate-90 text-sm opacity-0 transition-opacity duration-300 text-[#fefaf4]"></i>
                                </span>
                            </div>
                        </button>

                        <div class="my-auto px-5 py-2">
                            <div id="successMessage" class="hidden">{% trans "Message Sent!" %}</div>
                            <div id="failMessage" class="hidden text-sm">{% trans "Message failed to send, please try again or contact us directly at INQUIRY@TOURCONTROL.AGENCY" %}
                            </div>
                            <div id="loadingMessage" class="hidden"><i class="fa-solid fa-spinner animate-spin"></i></div>
                        </div>
                    </div>

                </form>

                <div class="mb-[2rem] lg:mt-0 mt-[5vh]">
                    <p class="text-slate-300">{% trans "BUSINESS ENQUIRIES" %}</p>
                    <p class="uppercase text-lg mt-1">inquiry@tourcontrol.agency</p>
                </div>
            </div>

        </div>

    </header>
</div>

<script>
    $("window").ready(function () {
        $("#loading").addClass("-translate-x-full")
    })

    $("#secondaryFooter").hide()

    $("form").submit(function (e) {
        e.preventDefault()

        $("#loadingMessage").show()

        const data = {
            name: $("#name").val(),
            email: $("#email").val(),
            topic: $("#topic").val(),
            tel: $("#tel").val(),
            message: $("#message").val()
        }

        $.ajax({
            type: "GET",
            url: "{% url 'send' %}",
            data: data,
            success: function (response) {
                $('form')[0].reset()
                $("#loadingMessage").hide()
                $("#successMessage").show()
            },
            fail: function(response) {
                $("#loadingMessage").hide()
                $("#failMessage").show()
            }
        })
    })
</script>



{% endblock %}