{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% block body_block %}

{% if splash %}
<div id="preloader" class="h-screen flex justify-center items-center transition-all ease-in-out duration-[1000ms]">

    <div class="h-[3rem] overflow-hidden">
        <ul id="wordParent" class="font-[Montserrat] font-bold text-[2.6rem] tracking-widest uppercase text-center">
            <li id="1">Strategy</li>
            <li id="2" class="opacity-0 transition-all ease-in-out duration-[400ms]">Innovation</li>
            <li id="3" class="opacity-0 transition-all ease-in-out duration-[400ms]">Marketing</li>
            <li id="4" class="opacity-0 transition-all ease-in-out duration-[400ms]">Optimization</li>
            <li id="5" class="opacity-0 transition-all ease-in-out duration-[400ms]">Growth</li>
            <li id="6" class="opacity-0 transition-all ease-in-out duration-[400ms]">Technology</li>
            <li id="7" class="opacity-0 transition-all ease-in-out duration-[400ms]">Insight</li>
            <li id="8" class="opacity-0 transition-all ease-in-out duration-[400ms]">Solutions</li>
            <li id="9" class="opacity-0 transition-all ease-in-out duration-[400ms]">Success</li>
        </ul>
    </div>

</div>
{% endif %}

{% if splash %}
<div id="content" class="transition-all ease-in-out duration-[1500ms] overflow-hidden" style="display: none;">
    {% else %}
    <div id="content" class="transition-all ease-in-out duration-[1500ms] overflow-hidden">
        {% endif %}

        <header id="indexHeader" class="h-screen font-[Montserrat]">

            <style>
                #indexHeader {
                    background-image: url({% static 'imgs/bg.png' %}); 
                    background-position: center;
                }
            </style>

            {% include 'base/nav.html' %}

            <div class="h-full flex flex-row items-center pt-[25vh]">
                <div class="lg:ml-[8vw] w-full flex flex-col items-center lg:items-baseline">

                    <div class="lg:ml-8 space-x-1 mb-1 lg:hidden">
                        <span class="inline-block lg:h-3 lg:w-3 h-3 w-3 rounded-full bg-[#BE3455]"></span>
                        <span class="inline-block lg:h-3 lg:w-3 h-3 w-3 rounded-full bg-[#f887ff]"></span>
                        <span class="inline-block lg:h-3 lg:w-3 h-3 w-3 rounded-full bg-[#73fffe]"></span>
                    </div>

                    <div class="flex flex-row">
                        <h1 class="uppercase xl:text-[9.5rem] lg:text-[7rem] text-[2.5rem] font-bold leading-none basis-[80%]">
                            tourcontrol
                        </h1>

                        <div class="ml-8 space-x-1 basis-[20%] mt-3 hidden lg:block">
                            <span class="inline-block lg:h-3 lg:w-3 h-1 w-1 rounded-full bg-[#BE3455]"></span>
                            <span class="inline-block lg:h-3 lg:w-3 h-1 w-1 rounded-full bg-[#f887ff]"></span>
                            <span class="inline-block lg:h-3 lg:w-3 h-1 w-1 rounded-full bg-[#73fffe]"></span>
                        </div>

                    </div>

                    <div class="flex flex-row">
                        <div class="basis-[70%]">
                            <h2 class="uppercase xl:text-[9.5rem] lg:text-[7rem] text-[2.5rem] font-bold leading-none pl-[10vw]">
                                consulting
                            </h2>
                        </div>
                    </div>

                    <div class="lg:text-[2.5rem] text-[1rem] my-auto text-center mt-3 lg:pl-[50vw]">
                        <h2 class="uppercase font-bold leading-none">digital & data</h2>
                        <h2 class="uppercase font-bold leading-none">strategy</h2>
                    </div>

                </div>

            </div>

        </header>

        <div id="howwedoit" class="min-h-screen font-[Montserrat] justify-center flex flex-col">

            <div class="flex flex-col justify-center items-center h-full">
                <h2 class="uppercase font-bold lg:text-[4rem] text-[1.8rem] text-center leading-[1]">
                    <span class="block">
                        {% trans "unlock your" %}
                    </span>
                    <span class="block">
                        {% trans "perfect" %}
                    </span>
                    <span class="block">
                        {% trans "marketing strategy" %}
                    </span>
                </h2>

                <h3 class="lg:text-2xl text-base tracking-wide mt-5 text-center font-[500]">
                    <span class="block">{% trans "We help tailor you the solution for" %}</span>
                    <span class="block">{% trans "this new digital age" %}.</span>
                </h3>

                <div class="border-l-2 border-[#BE3455] h-[30vh] mt-10"></div>

                <a href="#mottos" class="uppercase font-bold mt-10" id="howWeDoIt">
                    {% trans "discover how we do it" %}
                </a>
            </div>

        </div>

        <div id="mottos" class="h-screen font-[Montserrat] bg-[#091830] hidden lg:block">
            <div class="flex justify-center items-center h-full">

                <div class="flex flex-row px-[17vw]">

                    <div class="basis-[40%]  mr-[4vw]">
                        <ul class="text-[3rem] font-bold tracking-tight uppercase space-y-7">
                            <li>
                                <button
                                    class="w-full h-full border-[#BE3455] border-b-2 border-t-2 flex pt-[0.875rem] button-desc"
                                    data-text="versitile">
                                    <div class="translate-x-6 flex transition-transform duration-700">
                                        <i class="fa-solid fa-chevron-right my-auto text-xl hidden mr-3 animate-pulse text-[#BE3455]"></i>
                                        <i class="fa-solid fa-arrow-right mr-3 my-auto text-2xl"></i>
                                        <p class="uppercase">{% trans "Versatile" %}</p>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button class="w-full h-full border-[#BE3455] border-b-2 flex button-desc"
                                    data-text="integrated">
                                    <div class="flex transition-transform duration-700">
                                        <i class="fa-solid fa-chevron-right my-auto text-xl mr-3 animate-pulse text-[#BE3455]"></i>
                                        <i class="fa-solid fa-arrow-right mr-3 my-auto text-2xl hidden"></i>
                                        <p class="uppercase">{% trans "Integrated" %}</p>
                                    </div>
                                </button>
                            </li>

                            <li>
                                <button class="w-full h-full border-[#BE3455] border-b-2 flex button-desc"
                                    data-text="empowered">
                                    <div class="flex transition-transform duration-700">
                                        <i class="fa-solid fa-chevron-right my-auto text-xl mr-3 animate-pulse text-[#BE3455]"></i>
                                        <i class="fa-solid fa-arrow-right mr-3 my-auto text-2xl hidden"></i>
                                        <p class="uppercase">{% trans "Empowered" %}</p>
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="basis-[60%] flex">
                        <p id="versitile"
                            class="text-xl tracking-wide leading-[1.7] text transition-opacity duration-700 my-auto"
                            style="font-family: 'Work Sans';">
                            {% trans "At Tourcontrol, our expertise extends across companies of all sizes, each seeking innovative and competitive digital solutions. From small startups to established enterprises, we've honed our skills in crafting customized strategies that propel businesses forward in the modern and fast-paced market. Let us help you unlock your full digital potential and navigate the ever-changing digital landscape with confidence." %}
                        </p>

                        <p id="integrated"
                            class="text-xl tracking-wide leading-[1.7] text opacity-0 transition-opacity duration-700 my-auto"
                            style="font-family: 'Work Sans'; display: none;">
                            {% trans "Explore the dynamic fusion of technologies, creative ideas, strategic concepts, and data-driven insights at Tourcontrol. Our innovative approach is designed to elevate your marketing campaigns to new heights. From refining your current strategies to developing a bespoke MarTech Core tailored to your unique business, we are dedicated to unleashing your brand's full potential. Experience the transformative power of seamless integration and unlock unprecedented success in the digital realm." %}
                        </p>

                        <p id="empowered"
                            class="text-xl tracking-wide leading-[1.7] text opacity-0 transition-opacity duration-700 my-auto"
                            style="font-family: 'Work Sans'; display: none;">
                            {% trans "Step into the realm of limitless digital possibilities with Tourcontrol. Our expertise lies in crafting a robust and tailored media ecosystem that allows you to fully harness the power of modern digital marketing campaigns. Experience the transformative difference of our meticulous media setup and elevate your business to new heights in the digital landscape." %}
                        </p>
                    </div>

                </div>

            </div>
        </div>

        <div class="min-h-screen font-[Montserrat] bg-[#091830] lg:hidden">
            <div>
                <div class="lg:px-44 px-5 lg:mt-0 mt-12">
                    <div class="border-t border-[#BE3455] relative lg:mx-20">
                        <h2 class="font-bold text-3xl absolute -top-5 bg-[#091830] pr-4 tracking-widest text-[#BE3455]">
                            Versatile</h2>

                        <div class="lg:py-10 py-6 text-justify lg:text-lg">
                            <p class="tracking-wide my-auto" style="font-family: 'Work Sans';">
                                {% trans "At Tourcontrol, our expertise extends across companies of all sizes, each seeking innovative and competitive digital solutions. From small startups to established enterprises, we've honed our skills in crafting customized strategies that propel businesses forward in the modern and fast-paced market. Let us help you unlock your full digital potential and navigate the ever-changing digital landscape with confidence." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="lg:px-44 px-5 lg:mt-0 mt-12">
                    <div class="border-t border-[#BE3455] relative lg:mx-20">
                        <h2
                            class="font-bold text-3xl absolute lg:-top-5 -top-5 right-0 bg-[#091830] text-[#BE3455] pl-4 lg:pr-0 lg:pl-4 tracking-widest lg:right-0">
                            Integrated</h2>

                        <div class="lg:py-10 py-6 text-justify lg:text-lg">
                            <p class="tracking-wide my-auto" style="font-family: 'Work Sans';">
                                {% trans "Explore the dynamic fusion of technologies, creative ideas, strategic concepts, and data-driven  insights at Tourcontrol. Our innovative approach is designed to elevate your marketing campaigns to new heights. From refining your current strategies to developing a bespoke MarTech  Core tailored to your unique business, we are dedicated to unleashing your brand's full potential. Experience the transformative power of seamless integration and unlock unprecedented success in the digital realm." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="lg:px-44 px-5 lg:mt-0 mt-12">
                    <div class="border-t border-[#BE3455] relative lg:mx-20">
                        <h2 class="font-bold text-3xl absolute -top-5 bg-[#091830] pr-4 tracking-widest text-[#BE3455]">
                            Empowered</h2>

                        <div class="lg:py-10 py-6 text-justify lg:text-lg">
                            <p class="tracking-wide my-auto" style="font-family: 'Work Sans';">
                                {% trans "Step into the realm of limitless digital possibilities with Tourcontrol. Our expertise lies in crafting a robust and tailored media ecosystem that allows you to fully harness the power of modern digital marketing campaigns. Experience the transformative difference of our meticulous media setup and elevate your business to new heights in the digital landscape." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ourstory" class="lg:mt-0 mt-10 min-h-screen font-[Montserrat] flex flex-col justify-center">
            <div class="lg:flex lg:-mr-[5rem]">

                <div
                    class="lg:basis-1/2 lg:flex lg:flex-col lg:items-end justify-center lg:text-right text-center z-10 relative">
                    <h2
                        class="uppercase font-bold text-[10rem] leading-none tracking-tight text-[#BE3455] hidden lg:block">
                        <span class="block">{% trans "meet" %}</span>
                        <span class="block">{% trans "the" %}</span>
                        <span class="block h-[10rem] overflow-hidden">
                            <p class="t">{% trans "team" %}</p>
                            <p class="t">{% trans "crew" %}</p>
                            <p class="t">{% trans "group" %}</p>
                        </span>
                    </h2>
                    <h2 class="lg:hidden font-bold text-3xl text-[#BE3455] uppercase mb-5 mt-[15vh]">
                        {% trans "Meet the Team" %}
                    </h2>
                </div>

                <div class="lg:basis-1/2 h-full flex flex-col lg:flex-row overflow-x-hidden items-center lg:-ml-[5rem] cursor-grab"
                    id="container">
                    
                    {% for member in members %}
                    <div class="relative inline-block shrink-0 lg:mr-5 lg:mb-0 mb-5">
                        <img class="object-cover black lg:h-[65vh] lg:w-[65vh] h-[37vh] w-[37vh] "
                            src="{{member.img.url}}" alt="">

                        <div class="absolute h-full w-full top-0 flex justify-center items-end">
                            <div class="text-center mb-2">
                                <p class="font-bold text-2xl tracking-widest">{{member.position}}</p>
                                <p class="tracking-widest text-xl">{{member.name}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>


            <div>
                <h4 class="text-center uppercase mt-10 lg:text-[1.8rem] text-2xl">
                    {% trans "We have over <span class='font-bold text-[#BE3455]'>20 years</span> of growth marketing and strategy combined together" %}
                </h4>
            </div>

            <div class="mt-[7vh]" style="font-family: 'Work Sans';">
                <p class="lg:px-[30vw] lg:text-lg px-10 text-justify lg:text-left">
                    {% trans "At Tour Control, we pride ourselves on empowering numerous corporate entities with our seasoned expertise, guiding them on their transformative journey towards digital relevance. We understand that embracing digitalization and establishing a robust MarTech Core may have seemed like an insurmountable challenge for many, but together, we turn the impossible into a reality." %}
                </p>
            </div>

        </div>

        <div class="h-screen flex flex-col justify-center items-center lg:mt-[20vh] mt-[10vh]">
            <a href="{% url 'blog' %}" class="uppercase font-[800] lg:text-[9rem] text-[2.5rem] leading-none">
                <span class="block">{% trans "Witness the" %} </span>
                <span class="block -ml-[8vw] text-[#BE3455] italic">{% trans "Success" %}</span>
                <span class="block">{% trans "Stories" %}</span>
            </a>

            <div class="flex lg:flex-row mt-10 lg:px-[15vw]">
                <div class="lg:basis-1/2"></div>
                <div class="lg:basis-1/2">
                    <p class="lg:text-lg tracking-wide lg:px-0 px-10 lg:text-left text-justify"
                        style="font-family: 'Work Sans';">
                        {% trans "Companies that took the leap are not only surviving but thriving in today's dynamic business landscape. We take pride in motivating them to embrace the digital revolution, and they continue to stand strong." %}
                    </p>
                    <p class="lg:text-lg tracking-wide lg:px-0 px-10 lg:text-left text-justify mt-3"
                        style="font-family: 'Work Sans';">
                        {% trans "Now, it's your turn to soar! Let's propel your business towards a brighter future by harnessing the power of digital transformation and unleashing its full potential. Don't miss this opportunity to thrive in the digital age - take that leap and secure your place among the digitally relevant elite." %}
                    </p>
                </div>
            </div>
        </div>

        <div class="h-screen font-[Montserrat] flex flex-col justify-center items-center">

            <h3 class="uppercase font-bold lg:text-[10rem] text-[3.5rem] leading-[1.1] text-center tracking-tight">
                <span class="block">{% trans "start your" %}</span>
                <span class="block">{% trans "digital journey" %}</span>
                <span class="block">{% trans "today" %}!</span>
            </h3>

            <button id="contactUs"
                class="contactUs uppercase mt-10 px-5 py-4 lg:text-3xl flex justify-between rounded-[3rem] lg:w-[17vw]">
                <p class="font-[600] tracking-wider my-auto">{% trans "contact us" %}</p>
                <div class="hidden lg:block my-auto">
                    <span id="circleContact"
                        class="h-5 w-5 mr-3 rounded-full bg-[#091830] my-auto flex justify-center items-center transition-all duration-300">
                        <i id="arrowContact"
                            class="fa-solid fa-arrow-up rotate-90 text-sm opacity-0 transition-opacity duration-300 text-[#fefaf4]"></i>
                    </span>
                </div>
            </button>

        </div>

        <div id="loading"
            class="bg-[#091830] h-screen w-screen fixed top-0 translate-x-full z-[100] transition-all duration-700">
        </div>

    </div>

    <script>
        $("#contactUs").click(function () {
            $("#loading").removeClass("translate-x-full")
            setTimeout(function () {
                window.location.href = "{% url 'contact' %}"
            }, 500)
        })

        const slider = document.querySelector('#container');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            slider.classList.add('active');
            startX = e.pageX - slider.offsetLeft;

            scrollLeft = slider.scrollLeft;
        });

        slider.addEventListener('mouseleave', () => {
            isDown = false;
            slider.classList.remove('active');
        });

        slider.addEventListener('mouseup', () => {
            isDown = false;
            slider.classList.remove('active');
        });

        slider.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 2;
            slider.scrollLeft = scrollLeft - walk;
        });
    </script>

    {% if splash %}
    <script>
        function hideWord(word) {
            $("#wordParent").find(":first-child").remove()
            $("#wordParent").find(":first-child").removeClass("opacity-0")
        }

        function showPage() {
            $("#preloader").addClass('-translate-y-[100vh]')
            $("#content").show()
            $("#content").addClass('-translate-y-[100vh]')

            setTimeout(function () {
                $("#content").removeClass('transition-all ease-in-out duration-[1500ms]')
            }, 1400)

            setTimeout(function () {
                $("#preloader").hide()
                $("#content").removeClass('-translate-y-[100vh]')
            }, 1500)
        }

        $("window").ready(function () {
            const delay = 400
            let counter = 0
            const intervalId = setInterval(function () {
                hideWord()
                counter++

                if (counter === 8) {
                    clearInterval(intervalId)
                }
            }, delay)

            setTimeout(showPage, delay * 10)
        })
    </script>
    {% endif %}

    {% endblock %}