{% extends "base/base.html" %}
{% load static %}
{% block body_block %}

<header class="h-screen font-[Montserrat] bg-[#091830]">

    {% include 'base/nav.html' %}

    <div class="h-[85%] flex flex-col justify-center items-center pb-[15vh]">

        <h1 class="uppercase text-[9.3rem] font-bold text-center">
            <span class="block leading-none">tour</span>
            <span class="block leading-none">control</span>
        </h1>

        <h2 class="uppercase text-3xl tracking-wide mt-5">unlock your perfect marketing strategy</h2>

    </div>

</header>

<div class="h-screen bg-red-50"></div>

{% endblock %}